{% extends 'main/base.html' %}

{% block title %}Все темы{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}">
{% endblock %}

{% block content %}
<form method="post" class="form-control d-flex flex-row gap-2">
    {{ form.csrf }}
    {{ form.teacher }}
    <input type="submit" class="btn btn-success" value="Показать">
</form>

<div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Преподаватель</th>
                <th scope="col" class="text-center">Тема</th>
                <th scope="col" class="text-center">Студент</th>
                <th scope="col" class="text-center">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr scope="row">
                    <td>{{ post.id }}</td>
                    <td>
                        <img width="96px" height="96px" src="{{ url_for('static', filename='upload/'+post.author.avatar) }}" alt="Преподаватель">
                        {{ post.teacher.name }}
                    </td>
                    <td>{{ post.subject }}</td>
                    <td>
                        {% with student = user.query.get(post.student) %}
                            <img width="96px" height="96px" src="{{ url_for('static', filename='upload/'+user.query.get(post.student).avatar) }}" alt="Студент">
                            {{ post.teacher.name }}
                        {% endwith %}
                    </td>
                    <td>
                    {% if current_user.is_authenticated and post.teacher == current_user.id %}
                        <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-sm btn-secondary"><span class="fa fa-edit"></span></a>
                        <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}